{% extends 'homebase.html' %}
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4"> Garbage Wastage and Collection Monitoring System.Garbage,</h1>
  <p class="lead"> the technical term for putrescent organic matter such as kitchen or food scraps, was fed to pigs and other livestock or boiled down in a process known as "rendering," to extract fats, oils, and greases for manufacturing lubricants, or allowed to dry to become commercial fertilizer. Rubbish, a broad category of dry goods including boxes, bottles, tin cans, or virtually anything made from wood, metal, glass, and cloth, could be transformed into new consumer products through a variety of reclamation methods</p>
  <hr class="my-4">
  <p>You can access various features after Login.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/disposalsignup" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/disposallogin" role="button">Login</a>
  </p>
</div>
<div style="height:200px">
</div>
{% endblock content %}