{% extends 'homebase.html' %}
{% block content %}
<br>
<br>
<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Garbage Wastage and Collection Monitoring System</h1>
  <p class="lead">It is the transfer of solid waste from the point of use and disposal to the point of treatment or landfill. Waste collection also includes the curbside collection of recyclable materials that technically are not waste, as part of a municipal landfill diversion program.</p>
  <hr class="my-4">
  <p>You can access various features after Login.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/ngosignup" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/ngologin" role="button">Login</a>
  </p>
</div>
<div style="height:200px">
</div>
{% endblock content %}